@{
    ViewData["Title"] = "About Dalilak";
}

<div class="text-center pt-5">
    <h1 class=" fadeInUp ">@ViewData["Title"] </h1>
</div>


<div class="fadeInLeft pt-5" >
    <div class="row g-0">
        <div class="col-lg-4">
            <img src="/img/appicon.png" class="img-fluid rounded-start" style="max-width: 300px;" alt="Dalilak icon">
        </div>
        <div class="col-lg-8">
            <div class="card-body">
                <h5 class="card-title">Dalilak in Sweden.</h5>
                Your Guide  in Sweden.
                <br />
                The first and the unique application in Sweden in Swedish and Arabic together that helps you find and access to stors, restaurants, clinics, centers, associations, institutions and services.
                <br />
                In an easy, fast and exciting way to Share this data easily and conveniently.
            </div>
        </div>
    </div>
</div>



<div class="text-center  pt-5">
    <a href="https://appsto.re/se/FTof1.i" target="_blank">
        <img class=" btn-deep" src="/img/appstore.png" alt="Download Dalilak">
    </a>
    <img class=" btn-deep" src="/img/googleplay.png" alt="Download Dalilak">
</div>

