@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center pt-5">

    <div class=" typing-effectBigFW glasseffectwBlur p-3">Welcome to Dalilak </div>

    <h2 class=" tmp-animate-left pt-3"> Your Guide  in Sweden  </h2>
    <img class="fadeInUp w-50 pt-5" src="/img/appicon.png" style="max-width: 400px;" alt="Dalilak icon">

    <div class=" pt-5">
        <div class=" typing-effectBigFW glasseffectwBlur p-3">أهلاً وسهلاً بكم في دليلك   </div>
        <h2 class=" tmp-animate-right pt-3">دليلك في السويد</h2>
    </div>
</div>








