@{
    ViewData["Title"] = "Privacy Policy and Terms";
}

<div class="text-center pt-5">
    <h1 class=" fadeInUp ">@ViewData["Title"]</h1>
</div>


<div class="fadeInLeft pt-5">
    <div class="row g-0">
        <div class="col-lg-4">
            <img src="/img/appicon.png" class="img-fluid rounded-start" style="max-width: 300px;" alt="Dalilak icon">
        </div>
        <div class="col-lg-8">
            <div class="card-body">
                <h5 class="card-title">Privacy Policies.</h5>
                Your company must make sure that it's handling its users' personal data appropriately and protecting itself against any potential legal problems.
                <br />
                This can be achieved with a comprehensive Privacy Policy and a robust set of Terms & Conditions.

            </div>
        </div>
    </div>
</div>





<!--
        <img class="fadeInLeft w-50 pt-5" src="/img/appicon.png" alt="Dalilak icon">

-->
